body {

    font-family: 'Noto Sans SC', sans-serif;
    background-color: rgb(27, 27, 27);
    color: rgb(241, 241, 241);
}

/* Page Title Styling */

h1 {

    margin: 0 5%;
    padding: 30px 0;
    text-align: center;
    font-size: 275%;
    border-bottom: 2px teal solid;

}

/* Main Content Container Styling */

section {

    margin: 45px 5%;
    padding: 45px;
    background-color: rgb(45, 45, 45);
    border-radius: 15px;

}

/* Main Content Title Styling */

h2 {

    border-bottom: 2px teal solid;
    padding-bottom: 20px;
    font-size: 200%;

}

/* Password Container Styling */

.password-container {

    min-height: 200px;
    border: 2px rgb(241, 241, 241) dashed;
    border-radius: 5px;
    margin: 15px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

/* Password Text Area Styling */

#password {

    font-size: 125%;
    color: rgb(241, 241, 241);
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    margin: 5% 5%;
    width: 100%;
    background-color: rgb(45, 45, 45);
    border: none;
    resize: none;

}

/* Password Text Area Styling while Focused */

#password:focus {

    outline: none;

}

/* Button Container Styling */

.button-container {

    border-top: 2px teal solid;
    padding-top: 30px;
    display: flex;
    justify-content: center;

}

/* Generate Password & Clipboard Copy Button Styling */

button {

    background-color: teal;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 150%;
    color: rgb(241, 241, 241);
    font-family: 'Noto Sans SC', sans-serif;
    margin-left: 2.5%;
    margin-right: 2.5%;

}

/* Generate Password & Clipboard Copy Button Styling while Focused */

button:focus {

    outline: none;

}

/* Generate Password & Clipboard Copy Button Styling while Active */

button:active {

    box-shadow: 0 0 10px 5px rgb(241, 241, 241);
    transform: scale(0.95);

}

/* Screen responsiveness at 576px */

@media screen and (max-width: 576px) {

    body {

        background-color: rgb(35, 35, 35);

    }

    /* Page Title responsiveness at 576px */
    
    h1 {

        margin: 0;
        background-color: rgb(27, 27, 27); 

    }

    /* Main Content Container responsiveness at 576px */

    section {

        margin: 30px 0;
        padding: 20px;
        background-color: rgb(35, 35, 35);

    }

    /* Main Content Container Title responsiveness at 576px */

    h2 {

        text-align: center;

    }

    /* Password Text area responsiveness at 576px */

    #password {

        background-color: rgb(35, 35, 35);

    }

}

/* Screen Responsiveness at 425px */

@media screen and (max-width: 425px) {

    /* Page Title responsiveness at 425px */

    h1 {

        font-size: 250%;
        padding: 25px 0;

    }

    /* Main Content Container responsiveness at 425px */

    section {

        margin: 20px 0;

    }

    /* Main Content Container Title responsiveness at 425px */

    h2 {

        font-size: 175%;

    }

    /* Password Text area responsiveness at 425px */

    #password {

        font-size: 110%;

    }

    /* Generate Password & Clipboard Copy Button responsiveness at 425px */

    button {

        font-size: 125%;

    }

}

@media screen and (max-width: 375px) {

    /* Page Title responsiveness at 375px */

    h1 {

        font-size: 225%;
        padding: 20px 0;

    }

    /* Main Content Container responsiveness at 375px */

    section { 
        
        margin: 15px 0;

    }

    /* Main Content Container Title responsiveness at 375px */

    h2 {

        font-size: 150%;
        padding-bottom: 15px;

    }

    /* Password Text area responsiveness at 375px */

    #password {

        font-size: 100%;

    }

    /* Generate Password & Clipboard Copy Button Container responsiveness at 375px */

    .button-container {

        padding-top: 25px;

    }

}

@media screen and (max-width: 320px) {

    /* Page Title responsiveness at 320px */

    h1 {

        font-size: 190%;
        padding: 15px 0;

    }

    /* Main Content Container responsiveness at 320px */

    section {

        margin: 10px 0;

    }

    /* Main Content Container Title responsiveness at 320px */

    h2 {

        font-size: 135%;
        padding-bottom: 12px;

    }

    /* Generate Password & Clipboard Copy Button Container responsiveness at 320px */

    .button-container {

        padding-top: 20px;

    }

    /* Generate Password & Clipboard Copy Button responsiveness at 320px */

    button {

        font-size: 100%;

    }

}