body {

    font-family: 'Noto Sans SC', sans-serif;
    background-color: rgb(27, 27, 27);
    color: rgb(241, 241, 241);
}

h1 {

    margin: 0 5%;
    padding: 30px 0;
    text-align: center;
    font-size: 275%;
    border-bottom: 2px teal solid;

}

section {

    margin: 45px 5%;
    padding: 45px;
    background-color: rgb(45, 45, 45);
    border-radius: 15px;

}

h2 {

    border-bottom: 2px teal solid;
    padding-bottom: 20px;
    font-size: 200%;

}

.password-container {

    min-height: 200px;
    border: 2px rgb(241, 241, 241) dashed;
    border-radius: 5px;
    margin: 15px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

#password {

    font-size: 125%;
    color: rgb(241, 241, 241);
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    margin: 5% 5%;
    width: 100%;
    background-color: rgb(45, 45, 45);
    border: none;
    resize: none;

}

#password:focus {

    outline: none;

}

.button-container {

    border-top: 2px teal solid;
    padding-top: 30px;
    display: flex;
    justify-content: center;

}

button {

    background-color: teal;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 150%;
    color: rgb(241, 241, 241);
    font-family: 'Noto Sans SC', sans-serif;
    margin-left: 2.5%;
    margin-right: 2.5%;

}

button:focus {

    outline: none;

}

button:active {

    box-shadow: 0 0 10px 5px rgb(241, 241, 241);
    transform: scale(0.95);

}

.restore-button {

    box-shadow: none;
    transform: scale(1);

}

@media screen and (max-width: 576px) {

    body {

        background-color: rgb(35, 35, 35);

    }
    
    h1 {

        margin: 0;
        background-color: rgb(27, 27, 27); 

    }

    section {

        margin: 30px 0;
        padding: 20px;
        background-color: rgb(35, 35, 35);

    }

    h2 {

        text-align: center;

    }

    #password {

        background-color: rgb(35, 35, 35);

    }

}

@media screen and (max-width: 425px) {

    h1 {

        font-size: 250%;
        padding: 25px 0;

    }

    section {

        margin: 20px 0;

    }

    h2 {

        font-size: 175%;

    }

    #password {

        font-size: 110%;

    }

    button {

        font-size: 125%;

    }

}

@media screen and (max-width: 375px) {

    h1 {

        font-size: 225%;
        padding: 20px 0;

    }

    section { 
        
        margin: 15px 0;

    }

    h2 {

        font-size: 150%;
        padding-bottom: 15px;

    }

    #password {

        font-size: 100%;

    }

    .button-container {

        padding-top: 25px;

    }

}

@media screen and (max-width: 320px) {

    h1 {

        font-size: 190%;
        padding: 15px 0;

    }

    section {

        margin: 10px 0;

    }

    h2 {

        font-size: 135%;
        padding-bottom: 12px;

    }

    .button-container {

        padding-top: 20px;

    }

    button {

        font-size: 100%;

    }

}